* {
  margin: 0 auto;
  padding: 0 auto;
  font: normal 'Alegreya Sans', sans-serif;
}

section.bg {
	height: 100vh;
	width: 100%;
}
/* reutilizables */
.right {
  float: right;
}

.left {
	float: left;
}

.center {
	text-align: center;
}

::-webkit-input-placeholder {
	color: rgba(201, 201, 201, 0.534);
}

:-moz-placeholder {
	color: rgba(201, 201, 201, 0.623);
}

::-moz-placeholder {
	color: #C9C9C9;
}

:-ms-input-placeholder {
	color: rgba(201, 201, 201, 0.452);
}

legend {
  font-size: 1.5em;
  padding: 14px;
}

figure img {
  width: 15%;
  padding-top: 14px;
}

fieldset {
	border: none;
	padding: 0 auto;
	color: white;
}

label {
  font-weight: 400;
  font-size: 1.3em;
}

button,
input[type="text"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: 6px;
}

input[type="text"] {
	box-sizing: border-box;
	box-shadow: 0 2px 1px rgba(252, 252, 252, 0.801);
	margin: 5px;
	padding: 10px;
	font-weight: 700;
	font-size: 1em;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.425);
}

button:not(#back) {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
	/* max-width: 410px; */
	margin: 1.3rem;
	padding: 13px;
	-webkit-transition: 200ms all ease-in-out;
	transition: 200ms all ease-in-out;
	width: 45%;
	font-weight: 700;
	text-transform: uppercase;
	background: rgba(52, 185, 112, 0.753);
	color: white;
}
button:not(#back):hover {
	cursor: pointer;
  background: #04885ca6;
  padding: 12px;
}

button:not(#next) {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
	margin: 1.3rem;
	padding: 10px;
	-webkit-transition: 200ms all ease-in-out;
	transition: 200ms all ease-in-out;
	width: 45%;
	font-weight: 700;
	text-transform: uppercase;
	background: rgba(52, 185, 112, 0.753);
	color: white;
}
button:not(#next):hover {
	cursor: pointer;
	background: #036d49a6;
}

/* animaciones */
.fadein-stagger > * {
	opacity: 0;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: opacity, transform;
	transition-property: opacity, transform, -webkit-transform;
	-webkit-transition-duration: 100ms;
	transition-duration: 100ms;
	-webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
}
.fadein-stagger > *:nth-of-type(1) {
	-webkit-transition-delay: 50ms;
					transition-delay: 50ms;
}
.fadein-stagger > *:nth-of-type(2) {
	-webkit-transition-delay: 100ms;
					transition-delay: 100ms;
}
.fadein-stagger > *:nth-of-type(3) {
	-webkit-transition-delay: 150ms;
					transition-delay: 150ms;
}
.fadein-stagger > *:nth-of-type(4) {
	-webkit-transition-delay: 200ms;
					transition-delay: 200ms;
}
.fadein-stagger > *:nth-of-type(5) {
	-webkit-transition-delay: 250ms;
					transition-delay: 250ms;
}
.fadein-stagger > *:nth-of-type(6) {
	-webkit-transition-delay: 300ms;
					transition-delay: 300ms;
}
.fadein-stagger > *:nth-of-type(7) {
	-webkit-transition-delay: 350ms;
					transition-delay: 350ms;
}
.fadein-stagger > *.js-animated {
	opacity: 1;
	-webkit-transform: translateX(0) translateY(0);
					transform: translateX(0) translateY(0);
}
/* fin de animaciones */

div.screen {
  /* transform: translateX(0) translateY(10%); */
    width: 70%;
	background: rgba(2, 78, 68, 0.473);
	margin: 1% auto;
	color: white;
	font-weight: bolder;
}

.form {
	padding: 1rem;
	color: white;
}

.city {
	margin-bottom: 0;
	font-size: 1.3em;
	font-weight: 700;
	text-align: center;
	color: white;
}

.summary {
	margin-bottom: 0;
	margin-top: 1.4rem;
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
}

.hourly {
	word-wrap: break-word;
}
.hourly b {
	display: block;
	padding: 0.5rem 0 0.5rem 0;
	color: white;
}
.hourly ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
}

.hourly ul li {
	margin: 0.19;
}
.hourly ul li:not(:last-of-type)::after {
	content: ',';
}

.graphic {
	box-shadow: 0 1px 0 rgba(71, 71, 71, 0.48), 0 1px 0 rgba(255, 255, 255, 0.1);
	margin-bottom: 1rem;
	width: 100%;
}
.graphic canvas {
	display: block;
}

#forecast {
	height: 100%;
	margin: auto;
	width: 100%;
}
#forecast > li {
	box-shadow: 0 3px 6px rgba(107, 106, 106, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	border-radius: 2px;
	margin: 1rem 0.5rem;
	padding: 0.5rem;
	background: #114856be;
}

.card {
  padding: 0.5rem;
}

.front.card > div {
	box-shadow: 0 1px 0 rgba(56, 56, 56, 0.48), 0 1px 0 rgba(255, 255, 255, 0.1);
	padding-bottom: 1rem;
}

input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
input[type="checkbox"]:active + label {
	padding-left: 10px;
	color: white;
	
}
input[type="checkbox"]:checked + label::before {
	top: 5px;
	background: rgba(52, 185, 112, 0.753);
}

label[for="celsius"],
label[for="celsius"]::before {
	-webkit-transition: 100ms all ease-in-out;
	transition: 100ms all ease-in-out;
}

label[for="celsius"] {
	position: relative;
	display: inline-block;
	margin-bottom: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 30px;
	padding-right: 10px;
	cursor: pointer;
}
label[for="celsius"]::before {
	content: " ";
	position: absolute;
	top: 2px;
	left: 0;
	right: 0;
	display: block;
	width: 20px;
  height: 20px;
	border: 2px solid rgba(52, 185, 112, 0.753);
	border-radius: 2px;
	z-index: -1;
}

.list-reset {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
